body{
  font-family:'Merriweather', serif;
margin:0;
}
.wrapper{
  background-color:#F2F1E8;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
#site-header{
  background-color: #FFFFFF;
  padding-left: 20px;
  display:flex;
  height: 60px;
  position: fixed;
  top:0;
  left:100;
  right:200;
  width: 1260px;
  /*justify-content: center;*/
  box-shadow: 0 0 20px 0 #968772;
}
#logo img{
height:2.5em;
}
.image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Nav-bar {
  display: flex;
  align-items: center;
  width: 1270%;
  justify-content: center;
  margin-right: 80px;
}
#main-nav{
  display: flex;
  justify-content: center;
}
#main-nav a{
  text-transform: uppercase;
  color: ##2B2F26;
  padding: 20px;
}
#main-nav a:hover{
  color:#fff;
  background-color: #967343;
}
a.current{
  color: #968772;
}
#site-name{
  margin-top: 100px;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
}
#site-name h1{
  font-weight: 400;)
  margin-bottom: 0;
}
#featured-products {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-page{
  width: 100%
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#image1{
  background-image: url(images/optimized/product-1.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  flex-basis: 60%;
  height: 300px;
  margin-left: 2em;
  margin-right: 1em;
}
#image1 p{
  background-color: #2B2F26;
  color: #F2F1E8;
  text-align: center;
  width: 200px;
  padding: 8px;
  position: relative;
  top: 230px;
}
#image2{
  background-image: url(images/optimized/product-2.jpg);
flex-basis: 18%;
height: 300px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-right: 1em;
}
#image2 p{
  background-color: #2B2F26;
  color: #F2F1E8;
text-align: center;
width: 70px;
padding: 8px;
position: relative;
top: 230px;
}
#image3{
  background-image: url(images/optimized/product-3.jpg);
flex-basis: 18%;
height: 300px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  margin-bottom: .75em;
  margin-right: 2em;
}
#image3 p{
  background-color: #2B2F26;
  color: #F2F1E8;
text-align: center;
width:100px;
padding: 8px;
position: relative;
top: 230px;
}
#image4{
  background-image: url(images/optimized/product-4.jpg);
flex-basis: 18%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-right: 1em;
}
#image4 p{
  background-color: #2B2F26;
  color: #F2F1E8;
text-align: center;
width: 100px;
padding: 8px;
position: relative;
top: 175px;
}
#image5{
  background-image: url(images/optimized/product-5.jpg);
flex-basis: 18%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 1em;
margin-right: 1em;
}
#image5 p{
  background-color: #2B2F26;
  color: #F2F1E8;
text-align: center;
width: 200px;
padding: 8px;
position: relative;
top: 175px;
}
#image6{
  background-image: url(images/optimized/product-6.jpg);
flex-basis: 40%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 1em;
margin-right: 1em;
}
#image6 p{
  background-color: #2B2F26;
  color: #F2F1E8;
text-align: center;
width:150px;
padding: 8px;
position: relative;
top: 175px;
}
#image7 {
  background-image: url(images/optimized/product-7.jpg);
flex-basis: 18%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 1em;
margin-right: 2em;
}
#image7 p{
  background-color: #2B2F26;
  color: #F2F1E8;
text-align: center;
width: 170px;
padding: 8px;
position: relative;
top: 175px;
}

footer{
  padding:10px;
  background-color: rgb(48,50,43);
  color: #fff;
}
.Newsletter-box{
  height: 650px;
}
.Newsletter-all{
  margin-top: 100px;
  background-color: white;
  text-align: center;
  height: 400px;
  width: 670px;
position: relative;
top:-600px;
left:300px;}

  .newsletter-image{
    height: 650px;
    width: 100%;
  }
  #p1{
    font-size: 30px;
    padding-top: 30px;
  }
  #p2{
    font-size:20px;
  }
  form{
    width: 100%;
  }
.Newsletter-form input{
  color: #968772;
  font-size: 18px;
  margin-bottom: 1em;
  border: none;
  border-bottom: 2px solid #968772;
  margin-top: 2em;
  width: 500px;
  outline: none;
}
.Newsletter-submit input{
  background-color: #968772;
  color: white;
  margin: 20px;
  font-size: 18px;
  padding: 20px 40px;
  border: none;
  outline: none;
}
.About-about{
  margin-top: 100px;
}
.About-body{
  display: flex;
  flex-direction: column;
  width: 800px;
}
.About-Opening{
  font-weight: 400;
  text-align: center;
  font-size: 4em;
}
.About-paragraph1{
  padding-left:12em;
  padding-right: 12em;
  font-size: 1.1em;
  line-height: 2.1em;
}
.About-paragraph1 a{
  color: #968772
}
#birdhouse{
  width: 150px;
  float: left;
  padding-right: 20px;
  padding-bottom: 15px;
}
.About-quote{
  padding-left:2em;
  /*padding-right: 12em;*/
  border-left: 1px solid #968772;
  margin: 0 210px;
  font-style: italic;
  font-weight: lighter;
  line-height: 2.1em;
  font-size: 1.1em;
}
.About-history{
  padding-left: 12em;
  padding-right: 12em;
  margin-bottom: 50px;
  line-height: 2.1em;
  font-size: 1.1em;
}
.About-history h3{
  font-weight: lighter;
}
.About-lastparagraph{
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 2.1em;
}
.About-lastparagraph h3{
  font-weight: lighter;
}
.About-facilities{
  padding-left: 12em;
  padding-right: 2em;
  width: 80%;
  font-size: 1.1em;
}
.About-side{
  width: 150px;
  margin-right: 200px;
  font-size: .75em;
  line-height: 1.5em;
}
.About-side img{
  padding-top: 75px;
  width: 150px;
  font-weight: lighter;
}
.About-monthly-plans{
  padding-left: 13em;
  padding-right: 6em;
}
.About-monthly-plans h3{
  font-weight: lighter;
}
#parallax{
  display: flex;
  background-image: url(images/optimized/background-3.jpg);
  height: 250px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

table {
  border: 1px solid #131511;
  border-spacing: 0;
  width:70%;
  align-content: center;
  margin-bottom: 15px;
}
td {
  border: 1px;
  border-style: solid;
  border-color: #131511;
  padding:5px;
}
.tr2{
  background-color: #F2EADC;
}
.tr4{
  background-color: #F2EADC;
}
