/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772*/
/*Input Border Bottom (Focus): #967343*/
/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/


body{
  font-family:'Merriweather', serif;
margin:0;
}
.wrapper{
  background-color:#F2F1E8 ;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
#site-header{
  background-color: #FFFFFF;
  padding-left: 20px;
  display:flex;
  height: 60px;
}
#logo img{
height:2.5em;
}
.image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

}

#main-nav{
  display: flex;
}

#main-nav a{
  text-transform: uppercase;
  color: #968772;
  padding-left: 40px;
}

#site-name{
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
}
#site-name h1{
  font-weight: 400;)
  margin-bottom: 0;
}
#featured-products {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-page{
  width: 100%
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#image1{
  background-image: url(images/optimized/product-1.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  flex-basis: 60%;
  height: 300px;
  margin-left: 2em;
  margin-right: 1em;
}
#image1 p{
  background-color: #2B2F26;
  color: #968772;
  text-align: center;
  width: 200px;
  padding: 8px;
  position: relative;
  top: 230px;
}
#image2{
  background-image: url(images/optimized/product-2.jpg);
flex-basis: 18%;
height: 300px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-right: 1em;
}
#image2 p{
  background-color: #2B2F26;
  color: #968772;
text-align: center;
width: 70px;
padding: 8px;
position: relative;
top: 230px;
}
#image3{
  background-image: url(images/optimized/product-3.jpg);
flex-basis: 18%;
height: 300px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  margin-bottom: .75em;
  margin-right: 2em;
}
#image3 p{
  background-color: #2B2F26;
  color: #968772;
text-align: center;
width:100px;
padding: 8px;
position: relative;
top: 230px;
}
#image4{
  background-image: url(images/optimized/product-4.jpg);
flex-basis: 18%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-right: 1em;
}
#image4 p{
  background-color: #2B2F26;
  color: #968772;
text-align: center;
width: 100px;
padding: 8px;
position: relative;
top: 175px;
}
#image5{
  background-image: url(images/optimized/product-5.jpg);
flex-basis: 18%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 1em;
margin-right: 1em;
}
#image5 p{
  background-color: #2B2F26;
  color: #968772;
text-align: center;
width: 200px;
padding: 8px;
position: relative;
top: 175px;
}
#image6{
  background-image: url(images/optimized/product-6.jpg);
flex-basis: 40%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 1em;
margin-right: 1em;
}
#image6 p{
  background-color: #2B2F26;
  color: #968772;
text-align: center;
width:150px;
padding: 8px;
position: relative;
top: 175px;
}
#image7 {
  background-image: url(images/optimized/product-7.jpg);
flex-basis: 18%;
height: 250px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 1em;
margin-right: 2em;
}
#image7 p{
  background-color: #2B2F26;
  color: #968772;
text-align: center;
width: 170px;
padding: 8px;
position: relative;
top: 175px;
}

footer{
  padding:10px;
  background-color: rgb(48,50,43);
  color: #fff;
}
.Newsletter-box{
  height: 650px;
}
.Newsletter-all{
  background-color: white;
  text-align: center;
  height: 400px;
  width: 670px;
position: relative;
top:-600px;
left:300px;}

  .newsletter-image{
    height: 650px;
    width: 100%;
  }
  #p1{
    font-size: 30px;
    padding-top: 30px;
  }
  form{
    width: 100%;
  }
.Newsletter-form input{
  color: #968772;
  font-size: 18px;
  margin-bottom: 1em;
  border: none;
  border-bottom: 2px solid #968772;
  margin-top: 2em;
  width: 500px;
}
.Newsletter-submit input{
  background-color: #968772;
  color: white;
  margin: 20px;
  font-size: 18px;
  padding: 20px 40px;
}

.About-body{
  display: flex;
  flex-direction: column;
  width: 800px;
  /*padding-left:10em;
  padding-right: 10em;*/
}
.About-Opening{
  padding-left:10em;
  padding-right: 10em;
}
#birdhouse{
  width: 75px;
  float: left;
}
.About-quote{
  padding-left:10em;
  padding-right: 10em;
}
.About-history{
  padding-left:10em;
  padding-right: 10em;
}
.About-facilities{
  padding-left:10em;
  padding-right: 10em;
}
.About-monthly-plans{
  padding-left:10em;
  padding-right: 10em;
}
.About-middle{
  text-align: center;
}
table {
  border: 1px solid #131511;
  border-spacing: 0;
  width:50%;
  align-content: center;
}
td {
  border: 1px;
  border-style: solid;
  border-color: #131511;
  padding:5px;
}
.tr2{
  background-color: #968772;
}
.tr4{
  background-color: #968772;
}
